@import "tailwindcss";

* {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: white;
  color: #090b0f;
  transition: background-color 0.2s, color 0.2s;
}

.dark body {
  background-color: #06070a;
  color: white;
}
